<li id="post-<%= li.id %>">
	<h3>
		<%= link_to li.title, '/edit/' + li.id.to_s %>
		<span class="links">
      <% if not li.draft %>
        <%= link_to 'view', li, :class => 'admin-view' %>
      <% end %>
			<%= link_to 'x', li, :confirm => 'Are you sure?', :method => :delete, :class => 'admin-delete' %>
		</span>
	</h3>
</li>
