/* Insert your custom theme here */
@mixin clearfix {
  zoom: 1;
  &:before { content: ''; display: block; }
  &:after { content: ''; display: table; clear: both; }
}
$linkhover: purple;
$pagewidth: 720px;

body, textarea, pre, input {
  font-family: 'Antic Slab', Georgia, serif;
  background-color: #eee;
}

.posts a {
  border: none;
}

.post {
  &.contain {
    position: relative;
    width: $pagewidth;
  }
  aside.published-at {
    position: absolute;
    top: 35px;
    right: 0;
  }
  .actions {
    top: 35px;
  }
}

header {
  @include clearfix;
  padding: 0;
  margin: 5px;
  width: $pagewidth;
  margin-left: auto;
  margin-right: auto;
  border: none;
  position: relative;
  margin-bottom: 60px;
  /*border-bottom: 1px solid #ccc;*/
  .container {
    @include clearfix;
    display: block;
    float: left;
    h1 {
      padding: 0;
      margin: 0;
      a:hover {
        color: $linkhover;
      }
    }
    & > span {
      padding: 0;
      margin: 0;
      float: left;
    }
  }
  ul {
    @include clearfix;

    float: right;
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
    display: block;
    padding: 0;
    margin: 0;
    float: right;
    li {
      display: block;
      /*line-height: 35px;*/
      text-align: right;
      padding: 0;
      margin: 0;
      /*float: left;*/
      margin-top: 4px;
      a {
        padding: 0;
        margin: 0;
      }
    }
  }
  .powered-by {
    display: none;
  }
}

#container {
  margin: 0;
  padding: 0;
  h1 {
    a:hover {
      color: $linkhover;
    }
  }
  time {
    display: none;
  }
  section {
    margin: 0;
    padding: 0;
    border: none;
    .contain {
      margin: 0;
      padding: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
